.contact {
  grid-column: 2/4;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr;
}
.contact .light-theme,
.contact .dark-theme {
  grid-column: 2/5;
  justify-items: center;
}
.contact .light-theme p,
.contact .dark-theme p {
  grid-row: 2;
}
@media (max-width: 800px) {
  .contact {
    padding: 2rem 0.75rem;
  }
  .contact .light-theme,
  .contact .dark-theme {
  grid-column: 1/5;
}
}
