.introduction {
  grid-column: 1/-1;
  display: grid;
  justify-items: center;
  text-align: center;
  background: url(../img/wallpaper.jpg) center/cover;
  padding: 10.83rem 0.75rem;
  margin-bottom: 2rem;
}
.introduction h1 {
  font-size: 2.25rem;
  color: #fff;
}
.introduction p {
  padding: 1rem 0;
  color: #ccc;
}
.introduction,
.introduction h1,
.introduction p,
.introduction a {
  position: relative;
}
.introduction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.introduction .button {
  display: block;
}
