.projects {
  grid-column: 2/3;
  padding: 2rem .75rem;
}
.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.projects-item {
  padding: 1rem;
  background: #222;
  border-radius: 10px;
  display: grid;
  border: 1px solid #444;
}
.projects-techs {
  display: flex;
  width: 7rem;
  padding: 6px 0 12px 0;
}
.projects h2 {
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 1rem;
}
.projects div {
  display: flex;
}
.projects .button {
  margin: 0 .25rem;
  align-self: end;
}
.projects h3 {
  padding-bottom: 5px;
}
@media (max-width: 700px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
}
